

@font-face {
  
  font-family: roboto;
  src: url("https://eyaxteam.github.io/asset/fonts/roboto.ttf");
  
}

@font-face {
  
  font-family: aileronLight;
  src: url("https://eyaxteam.github.io/asset/fonts/Aileron-Light.otf");
  
}

