.paragraph-title {color:white;}
.paragraph-title-medium {color:white;}
.paragraph-content {color:hsla(0,0%,100%,.5);}

#topbar {
  color:white;
  background: #7289DA;
}

#mainContainer {
  background-color: #2e3136;
}

.info {
  color:white;
  background: rgba(114,137,218,.3);
  border: 2px solid rgba(114,137,218,.75);
}

.danger {
  color:white;
  background: rgba(209, 39, 39, .70);
  border: 2px solid rgba(209, 39, 39, .95);
}